<section id="home">
    <div class="hero-section  min-h-64  p-5 relative">
        <div
            class="w-80 h-80 bg-primaryColor rounded-full p-4 absolute bottom-40  lg:-bottom-10 lg:right-36 flex flex-col  items-center justify-center">
            <h1 class="text-4xl text-center  my-4 font-sans  text-white font-medium reserveText-shadow">BOOK NOW !!
            </h1>
            <a routerLink="/contact"
                class=" px-4 py-3 bg-white shadow-reserveButtonBoxShadow hover:shadow-none text-black font-semibold text-lg">RESERVED
                NOW</a>


        </div>
    </div>
    <!-- Hero Seections -->
    <div class="hero-section-2  min-h-[500px] lg:py-10 ">
        <h1 class="text-3xl lg:text-5xl text-center  lg:my-10 font-serif text-shadow text-white font-semibold ">REVIEWS
        </h1>
        <div id="carouselExampleControls" class="carousel slide mt-32" data-bs-ride="true">
            <div class="carousel-inner  w-[90%] mx-auto">
                <div class="carousel-item active ">
                    <div class="flex items-center justify-center gap-4 ">
                        <div class="bg-white  w-72  p-5 text-center">
                            <div class="flex justify-center mb-3">
                                <img src="../../../assets/images/reviews/user_1.png" alt="" srcset="" class="h-20 w-20">

                            </div>
                            <h3 class="text-xl tracking-wide">SPECIAL REQUESTS?</h3>
                            <p class="text-textColor my-3 text-lg font-sans">"Good food, I recomand this
                                place!"</p>

                            <p class="text-textColor my-3 text-lg font-sans"><span class="text-textColor">Ruckshan
                                    Jayakody </span>- 09/03/2024</p>
                        </div>
                        <div class="bg-white  w-72  p-5 text-center">
                            <div class="flex justify-center mb-3">
                                <img src="../../../assets/images/reviews/user_1.png" alt="" srcset="" class="h-20 w-20">

                            </div>
                            <h3 class="text-xl tracking-wide">SPECIAL REQUESTS?</h3>
                            <p class="text-textColor my-3 text-lg font-sans">"Good food, I recomand this
                                place!"</p>

                            <p class="text-textColor my-3 text-lg font-sans"><span class="text-textColor">Ruckshan
                                    Jayakody </span>- 09/03/2024</p>
                        </div>
                        <div class="bg-white  w-72  p-5 text-center">
                            <div class="flex justify-center mb-3">
                                <img src="../../../assets/images/reviews/user_1.png" alt="" srcset="" class="h-20 w-20">

                            </div>
                            <h3 class="text-xl tracking-wide">SPECIAL REQUESTS?</h3>
                            <p class="text-textColor my-3 text-lg font-sans">"Good food, I recomand this
                                place!"</p>

                            <p class="text-textColor my-3 text-lg font-sans"><span class="text-textColor">Ruckshan
                                    Jayakody </span>- 09/03/2024</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex items-center justify-center gap-4 ">
                        <div class="bg-white  w-72  p-5 text-center">
                            <div class="flex justify-center mb-3">
                                <img src="../../../assets/images/reviews/user_1.png" alt="" srcset="" class="h-20 w-20">

                            </div>
                            <h3 class="text-xl tracking-wide">SPECIAL REQUESTS?</h3>
                            <p class="text-textColor my-3 text-lg font-sans">"Good food, I recomand this
                                place!"</p>

                            <p class="text-textColor my-3 text-lg font-sans"><span class="text-textColor">Ruckshan
                                    Jayakody </span>- 09/03/2024</p>
                        </div>
                        <div class="bg-white  w-72  p-5 text-center">
                            <div class="flex justify-center mb-3">
                                <img src="../../../assets/images/reviews/user_1.png" alt="" srcset="" class="h-20 w-20">

                            </div>
                            <h3 class="text-xl tracking-wide">SPECIAL REQUESTS?</h3>
                            <p class="text-textColor my-3 text-lg font-sans">"Good food, I recomand this
                                place!"</p>

                            <p class="text-textColor my-3 text-lg font-sans"><span class="text-textColor">Ruckshan
                                    Jayakody </span>- 09/03/2024</p>
                        </div>
                        <div class="bg-white  w-72  p-5 text-center">
                            <div class="flex justify-center mb-3">
                                <img src="../../../assets/images/reviews/user_1.png" alt="" srcset="" class="h-20 w-20">

                            </div>
                            <h3 class="text-xl tracking-wide">SPECIAL REQUESTS?</h3>
                            <p class="text-textColor my-3 text-lg font-sans">"Good food, I recomand this
                                place!"</p>

                            <p class="text-textColor my-3 text-lg font-sans"><span class="text-textColor">Ruckshan
                                    Jayakody </span>- 09/03/2024</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex items-center justify-center gap-4 ">
                        <div class="bg-white  w-72  p-5 text-center">
                            <div class="flex justify-center mb-3">
                                <img src="../../../assets/images/reviews/user_1.png" alt="" srcset="" class="h-20 w-20">

                            </div>
                            <h3 class="text-xl tracking-wide">SPECIAL REQUESTS?</h3>
                            <p class="text-textColor my-3 text-lg font-sans">"Good food, I recomand this
                                place!"</p>

                            <p class="text-textColor my-3 text-lg font-sans"><span class="text-textColor">Ruckshan
                                    Jayakody </span>- 09/03/2024</p>
                        </div>
                        <div class="bg-white  w-72  p-5 text-center">
                            <div class="flex justify-center mb-3">
                                <img src="../../../assets/images/reviews/user_1.png" alt="" srcset="" class="h-20 w-20">

                            </div>
                            <h3 class="text-xl tracking-wide">SPECIAL REQUESTS?</h3>
                            <p class="text-textColor my-3 text-lg font-sans">"Good food, I recomand this
                                place!"</p>

                            <p class="text-textColor my-3 text-lg font-sans"><span class="text-textColor">Ruckshan
                                    Jayakody </span>- 09/03/2024</p>
                        </div>
                        <div class="bg-white  w-72  p-5 text-center">
                            <div class="flex justify-center mb-3">
                                <img src="../../../assets/images/reviews/user_1.png" alt="" srcset="" class="h-20 w-20">

                            </div>
                            <h3 class="text-xl tracking-wide">SPECIAL REQUESTS?</h3>
                            <p class="text-textColor my-3 text-lg font-sans">"Good food, I recomand this
                                place!"</p>

                            <p class="text-textColor my-3 text-lg font-sans"><span class="text-textColor">Ruckshan
                                    Jayakody </span>- 09/03/2024</p>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev text-red-500" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon text-red-500" aria-hidden="true">
                </span>
                <span class="visually-hidden text-red-500">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>


        </div>
    </div>
    <!-- Gift Voucher Section  -->
    <div class="container mx-auto lg:px-20 my-5 ">

        <h1 class="text-3xl lg:text-5xl text-center  my-10 font-sans text-shadow text-headingColor font-medium">SOCIAL
        </h1>
        <a class="flex items-center justify-center mb-20">
            <img src="assets//images/home/facebook.webp" alt="facebook" width="40" height="40">

        </a>

        <div class="grid grid-cols-1 lg:grid-cols-2  gap-10">
            <div>
                <img src="../../../assets/images/home/gift_Voucher.webp" alt="" class="w-[592px] h-[394px]">
            </div>
            <div class="flex flex-col lg:mt-40 ">
                <h1 class="text-3xl lg:text-6xl my-4 font-sans font-medium mx-0">GIFT VOUCHERS</h1>
                <p class="text-2xl leading-9 text-textColor">Send a gift voucher to friends and family or buy it now for
                    your future
                    use.</p>

            </div>
        </div>

    </div>

    <!-- Visit Us Section  -->
    <div class="container mx-auto lg:px-40 my-5">
        <h1 class="text-3xl lg:text-5xl text-center  my-10 font-sans text-shadow text-headingColor font-medium">VISIT US
        </h1>
        <div class="grid grid-col-1 lg:grid-cols-5 md:gap-20">
            <div class="lg:col-span-3">
                <h1 class="lg:text-3xl my-5 font-sans">Contact Us</h1>
                <form class="flex flex-col gap-3" [formGroup]="contactForm" (submit)="send(contactForm.value)">
                    <ng-container>
                        <div class="input-container">
                            <input type="text" class="peer" id="naics_code" placeholder=" "
                                formControlName="from_name" />
                            <label for="naics_code"
                                class="peer-focus:px-4 peer-focus:text-themeBlue peer-focus:text-sm peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/3 peer-focus:top-5 peer-focus:scale-90 peer-focus:-translate-y-4 start-1">Name</label>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div class="input-container ">
                            <input type="text" class="peer" id="naics_code" placeholder=" " formControlName="phone" />
                            <label for="naics_code"
                                class="peer-focus:px-4 peer-focus:text-themeBlue peer-focus:text-sm peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-5 peer-focus:scale-90 peer-focus:-translate-y-4 start-1">Phone</label>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div class="input-container ">
                            <input type="email" class="peer" id="naics_code" placeholder=" " formControlName="email" />
                            <label for="naics_code"
                                class="peer-focus:px-4 peer-focus:text-themeBlue peer-focus:text-sm peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-5 peer-focus:scale-90 peer-focus:-translate-y-4 start-1">Email
                                *</label>
                        </div>
                        <ng-container>
                            <p *ngIf="contactForm.controls['email'].hasError('required') &&contactForm.controls['email'].touched"
                                class="text-red-600 mx-2">
                                Email is required
                            </p>
                            <p *ngIf="contactForm.controls['email'].hasError('pattern') &&contactForm.controls['email'].touched"
                                class="text-red-600 mx-2">
                                Please enter valid email address.
                            </p>
                        </ng-container>
                    </ng-container>
                    <ng-container>
                        <div class="input-container">
                            <div class="mt-1">
                                <textarea rows="4" name="comment" id="comment" placeholder="How can we serve You?"
                                    formControlName="message"
                                    class="block w-full rounded-md shadow-sm focus:border-borderColor focus:ring-borderColor sm:text-sm placeholder:text-textColor"></textarea>
                            </div>
                        </div>
                    </ng-container>


                    <button type="submit"
                        class="button bg-primaryColor px-5 py-4 text-white font-medium shadow-buttonBoxShadow hover:shadow-none hover:bg-primaryLightColor">{{sending
                        ? 'SENDING...':'SEND'}}</button>
                </form>

            </div>
            <div class="py-5 flex flex-col gap-3 lg:col-span-2 mt-2">
                <div class="">
                    <h3 class="text-2xl tracking-wide">SPECIAL REQUESTS?</h3>
                    <p class="text-textColor my-3 text-lg font-sans">Do you have dietary concerns? Questions about an
                        upcoming
                        event? Drop
                        us a line, and we'll get
                        back to you soon!</p>
                </div>
                <div class="text-textColor">
                    <h3 class="text-xl tracking-wide">Supreme Time</h3>
                    <p class=" text-lg font-sans my-3">6 Vicarage Street, Frome, Somerset, BA11 1PX</p>
                    <p class="text-lg"> 01416111766</p>
                    <p class="text-lg my-2">clearbusinessbyadrian@gmail.com</p>
                </div>
                <div class="text-textColor">
                    <h3 class="text-xl text-black tracking-wide my-3">Opening Hours</h3>

                    <div>
                        <button (click)="toggleDropdown()"
                            class="flex items-center gap-4 w-full text-gray-600 font-medium text-lg ">
                            Mon 1:00 PM to 11:00 PM
                            <svg class="arrow-icon" [class.rotate180]="isDropdownOpen" width="18" height="18"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21L3 12L4.41 10.59L12 18.17L19.59 10.59L21 12L12 21Z"
                                    fill="currentColor" />
                            </svg>
                        </button>
                        <div *ngIf="isDropdownOpen" class="dropdown my-1">
                            <ul class="flex flex-col gap-1 text-textColor ">
                                <li class="text-textColor text-lg">Tue 1:00 PM - 11:00 PM</li>
                                <li class="text-textColor text-lg">Wed 1:00 PM - 11:00 PM</li>
                                <li class="text-textColor text-lg">Thu 1:00 PM - 11:00 PM</li>
                                <li class="text-textColor text-lg">Fri 1:00 PM - 11:00 PM</li>
                                <li class="text-textColor text-lg">Sat 1:00 PM - 11:00 PM</li>
                                <li class="text-textColor text-lg">Sun 1:00 PM - 11:00 PM</li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>