<section class="bg-gray-50  container mx-auto">
    <div class="container mx-auto py-12 lg:px-4 pt-32">
        <!-- <h1 class="text-3xl font-bold mb-8">About Us</h1> -->

        <div class="grid grid-cols-1 md:grid-cols-3 ">
            <!-- Left Content -->
            <div>
                <img src="https://images.unsplash.com/photo-1564758565388-0d5da0cbb08c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHJlc3RhdXJhbnQlMjBmb29kfGVufDB8fDB8fHww"
                    alt="Restaurant Image" class="rounded-lg mb-6 h-[70vh] w-96">

            </div>

            <!-- Right Content -->
            <div class="lg:col-span-2 md:pl-20">
                <h2 class="text-2xl font-bold mb-4 text-primaryColor">Our Mission</h2>
                <p class="mb-4 font-sans text-lg leading-8">At Supreme Time, our mission is to deliver exceptional
                    dining
                    experiences
                    through
                    innovative cuisine, impeccable service, and a commitment to community. We aim to delight our guests
                    with every dish, fostering connections and creating memories that last a lifetime.</p>
                <h2 class="text-2xl font-bold mb-4 text-primaryColor">Our Vision</h2>
                <p class="mb-4 font-sans text-lg leading-8">Supreme Time aims to become the leading destination for
                    culinary
                    excellence in
                    the UK,
                    renowned for innovative cuisine, exceptional service, and a commitment to community enrichment.</p>
            </div>
        </div>
    </div>
</section>